<!doctype html>
<html ng-app="hackTattooFront">
<head>
  <meta charset="utf-8">
  <title>HackTattoo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="../bower_components/animate.css/animate.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="app/index.css">
  <link rel="stylesheet" href="app/components/navbar/navbar.css">
  <link rel="stylesheet" href="app/components/malarkey/malarkey.css">
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body ng-controller="IndexController as index">
  <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header>
    <div class="navbar-fixed-top header">

      <div class="col-xs-2" ng-click="">
        <a ng-click="index.home()">
          <img src="assets/img/logo.png" id="logo"/>
        </a>
      </div>

      <div class="col-xs-1 col-xs-offset-5 button">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#login" ng-click="index.login()">Login</button>
      </div>

      <div class="col-xs-2 button">
        <button class="btn btn-danger" ng-click="index.logout()">Logout</button>
      </div>

      

    </div>
  </header>


  <div ui-view="main" class="box"></div>




  <footer>
    <div class="navbar-fixed-bottom">
      <!-- <p>¡Síguenos donde quieras!</p> -->
      <div class="row footer">
        <div class="col-xs-3"></div>
        <div class="col-xs-2">
          <a target="_blank" href="https://www.facebook.com">
            <img src="../assets/img/facebook_icon.png">
          </a>            
        </div>
        <div class="col-xs-2">
          <a target="_blank" href="https://twitter.com">
            <img src="../assets/img/twitter_icon.png">
          </a>            
        </div>
        <div class="col-xs-2">
          <a class="c" target="_blank" href="https://instagram.com">
            <img src="../assets/img/instagram_icon.png">
          </a>
        </div>
        <div class="col-xs-3"></div>
      </div>    
    </div>
  </footer>


  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-touch/angular-touch.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="../bower_components/angular-messages/angular-messages.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../bower_components/malarkey/dist/malarkey.min.js"></script>
  <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <script src="app/index.module.js"></script>
  <script src="app/components/malarkey/malarkey.directive.js"></script>
  <script src="app/components/webDevTec/webDevTec.service.js"></script>
  <script src="app/components/navbar/navbar.directive.js"></script>
  <script src="app/components/githubContributor/githubContributor.service.js"></script>
  <script src="app/services/url.service.js"></script>
  <script src="app/services/token.service.js"></script>
  <script src="app/services/api.service.js"></script>
  <script src="app/project/project.controller.js"></script>
  <script src="app/main/main.controller.js"></script>
  <script src="app/login/login.controller.js"></script>
  <script src="app/home/home.controller.js"></script>
  <script src="app/createProject/createProject.controller.js"></script>
  <script src="app/createGroup/createGroup.controller.js"></script>
  <script src="app/addMember/addMember.controller.js"></script>
  <script src="app/index.run.js"></script>
  <script src="app/index.route.js"></script>
  <script src="app/index.controller.js"></script>
  <script src="app/index.constants.js"></script>
  <script src="app/index.config.js"></script>
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->

</body>
</html>
