<div class="container">



  <div class="row" ng-repeat="group in group.groups">
     <div class="col-xs-1">
      <p> 
        {{group.id}}
      </p>
    </div>

    <div class="col-xs-5">
      <p>
       {{group.name}}
      </p>
    </div>

     <div class="col-xs-6">
      <p>
        {{group.description}}
      </p>
    </div>
  </div>
</div>