<div class="container">
	
<form class="well">
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" ng-model="login.user.email" placeholder="Email" required>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" ng-model="login.user.password" placeholder="Password" required>
  </div>

  <button type="submit" class="btn btn-primary" ng-click="login.access()">Submit</button>
</form>
</div>