<div class="container">
	
<form class="well">

  <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="createProject.newProject.name" placeholder="Project Name" required>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" ng-model="createProject.newProject.description" placeholder="Description">
  </div>

   <div class="form-group">
    <label>Public</label>
    <input type="checkbox" ng-model="createProject.newProject.public" >
  </div>
  

  <button type="submit" class="btn btn-primary" ng-click="createProject.create()">Create</button>
</form>
</div>