* {
  text-decoration: none;
}

p{
  color: white;
}

body {
  background-image: url(../assets/img/black-retro-lilz-tattoo_177501.jpg);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}



/*      REGISTER      */

.box {
  position: relative;
  top: 10vh;
}




/*      Home          */

.header{
  background-color: rgba(82, 20, 61, 0.7);
  height: 60px;
}

#logo{
  width: 70px;
  -webkit-filter: invert(.8);
  position: relative;
  left: 20px
}

.button{
  padding-top: 13px;
}

.text{
  color:white;
  text-align: center;
  position: relative;
  top: 162px;
}

/*.background {
  background-image: url('black-retro-lilz-tattoo_177501.jpg');
  height: 100vh;
}
*/
.menu1 {
  border-radius: 0px;
}

.footer {
  margin-bottom: 10px;
}
