<div class="container">
	
<form class="well">

  <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="createGroup.newGroup.name" placeholder="Group Name" required>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" ng-model="createGroup.newGroup.description" placeholder="Description">
  </div>

  <div class="form-group">
    <label>Path</label>
    <input type="text" class="form-control" ng-model="createGroup.newGroup.path" placeholder="Path">
  </div>
  

  <button type="submit" class="btn btn-primary" ng-click="createGroup.create()">Create</button>
</form>
</div>