<div class="container">

<div class="row">
  <div class="col-xs-2"> 
    <button class="btn btn-warning" ng-click="button.getProjects()">Get Projects</button>
  </div>
  
  <div class="col-xs-2"> 
    <button class="btn btn-warning" ng-click="button.getGroups()">Get Groups</button>
  </div>
</div>