<div class="container">

<div class="row">
  <div class="col-xs-2"> 
    <button class="btn btn-warning" ng-click="project.getProjects()">Get Projects</button>
  </div>

  <div class="col-xs-2"> 
    <button class="btn btn-warning" ng-click="project.createProject()">New Project</button>
  </div>

  <div class="col-xs-2 "> 
    <button class="btn btn-warning" ng-click="project.getGroups()">Get Groups</button>
  </div>

  <div class="col-xs-2"> 
    <button class="btn btn-warning" ng-click="project.createGroup()">New Group</button>
  </div>
</div>

<br>


  <div class="row" ng-repeat="projectt in project.projects">

     <div class="col-xs-1">
     <p> 
      {{projectt.id}}
     </p>
    </div>

    <div class="col-xs-3">
    <p>
      {{projectt.name}}
    </p>
    </div>

     <div class="col-xs-2">
      <p>
        {{project.permission[projectt.permissions.project_access.access_level]}}
      </p>
    </div>

    <div class="col-xs-2"> 
      <button class="btn btn-danger" ng-click="project.deleteProject(projectt.id)">Delete Project</button>
    </div>

    <div class="col-xs-2"> 
      <button class="btn btn-primary" ng-click="project.getBranches(projectt.id)">Project's branches</button>
    </div>

    <div class="col-xs-2"> 
      <button class="btn btn-info" ng-click="project.getFiles(projectt.id)">Files</button>
    </div>
  </div>

  <div class="row" ng-repeat="file in project.files">
    <div class="col-xs-2">
      <p>
        {{file.name}}
      </p>
    </div> 

    <div class="col-xs-2">
      <p>
        {{file.type}}
      </p>
    </div>

    <div class="col-xs-4">
      <p>
        {{file.id}}
      </p>
    </div>

    <div class="col-xs-2" ng-if="project.type == hola"> 
      <button class="btn btn-info" ng-click="project.openTree(projectt.id)">Open Tree</button>
    </div>
  </div>

  <div class="row" ng-repeat="branch in project.branches">
    <div class="col-xs-2">
    <p>
      Branch Name: {{branch.name}}
    </p>
    </div> 
  </div>

  <div class="row" ng-repeat="group in project.groups">
    <div class="col-xs-1">
      <p> 
        {{group.id}}
      </p>
    </div>

    <div class="col-xs-2">
      <p>
       {{group.name}}
      </p>
    </div>

    <div class="col-xs-2">
      <p>
        {{group.description}}
      </p>
    </div>

    <div class="col-xs-2"> 
      <button class="btn btn-danger" ng-click="project.deleteGroup(group.id)">Delete Group</button>
    </div>

    <div class="col-xs-2">
      <button class="btn btn-primary" ng-click="project.groupMembers(group.id)">Members</button>
    </div>

    <div class="col-xs-2">
      <button class="btn btn-primary" ng-click="project.groupAddMember()">Add Members</button>
    </div>
  </div>

    <div class="row" ng-repeat="member in project.members">

      <div class="col-xs-2">
        <p>
          {{project.permission[member.access_level]}}
        </p>
      </div>

      <div class="col-xs-3">
        <p>
          {{member.name}}
        </p>
      </div>
      <div class="col-xs-4">
        <p>
          {{member.username}}
        </p>
      </div>
      <div class="col-xs-3">
        <p>
          {{member.id}}
        </p>
      </div>  
    </div>
</div>

