<div class="container">
	
<form class="well">

  <div class="form-group">
      <label>Member ID</label>
      <input type="text" class="form-control" ng-model="addMember.member.member_id" placeholder="Member ID" required>
  </div>

  <div class="form-group">
    <label>Access Level</label>
    <input type="text" class="form-control" ng-model="addMember.member.access_level" placeholder="Access Level" required>
  </div>

  <div class="form-group">
    <label>Group ID</label>
    <input type="text" class="form-control" ng-model="addMember.member.group_id" placeholder="Group ID" required>
  </div>
  

  <button type="submit" class="btn btn-primary" ng-click="addMember.add()">Add Member</button>
  <button type="button" class="btn btn-warning" ng-click="addMember.goBack()">Go Back</button>
</form>
</div>