<!doctype html>
<html ng-app="hackTattooFront">
<head>
  <meta charset="utf-8">
  <title>HackTattoo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body ng-controller="IndexController as index">
  <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header>
    <div class="navbar-fixed-top header">

      <div class="col-xs-2" ng-click="">
        <a ng-click="index.home()">
          <img src="assets/img/logo.png" id="logo"/>
        </a>
      </div>

      <div class="col-xs-1 col-xs-offset-5 button">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#login" ng-click="index.login()">Login</button>
      </div>

      <div class="col-xs-2 button">
        <button class="btn btn-danger" ng-click="index.logout()">Logout</button>
      </div>

      

    </div>
  </header>


  <div ui-view="main" class="box"></div>




  <footer>
    <div class="navbar-fixed-bottom">
      <!-- <p>¡Síguenos donde quieras!</p> -->
      <div class="row footer">
        <div class="col-xs-3"></div>
        <div class="col-xs-2">
          <a target="_blank" href="https://www.facebook.com">
            <img src="../assets/img/facebook_icon.png">
          </a>            
        </div>
        <div class="col-xs-2">
          <a target="_blank" href="https://twitter.com">
            <img src="../assets/img/twitter_icon.png">
          </a>            
        </div>
        <div class="col-xs-2">
          <a class="c" target="_blank" href="https://instagram.com">
            <img src="../assets/img/instagram_icon.png">
          </a>
        </div>
        <div class="col-xs-3"></div>
      </div>    
    </div>
  </footer>


  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->

</body>
</html>
